html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    max-width: 100%;
    max-height: 100%;
}
.leaflet-grab {cursor: auto;}
.leaflet-dragging .leaflet-grab{cursor: move;}
.menu-principal > div{margin-top:1em;}
.item-menu{font-size:2em; display:block;}
.green{color:green}
.red{color:red}
.readonly{background-color: lightgray;}